@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 246, 246, 248;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 16, 34;
    /* #101022 */
    --background-end-rgb: 16, 16, 34;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .glass-nav {
    @apply backdrop-blur-md bg-[#101022]/80 border-b border-[#10b981]/10;
  }

  .glass-card {
    @apply bg-white/5 border border-white/5 backdrop-blur-sm rounded-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-teal-500;
  }
}